# Cloudflare Pages asset deployment configuration ONLY
# DO NOT put Worker configuration here

name = "fb-clone"
type = "javascript"
compatibility_date = "2025-11-24"
pages_build_output_dir = "dist"

